h4 {
  line-height: 130%;
}

.row-header {
    background-color: lightgray;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
}

.results-panel {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.cell-expand {
    white-space: nowrap;
}

.button-row {
    float: right;
}
